  on:
    push:
      paths:
      - '.github/workflows/**'


jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: OrangeLabs-moe/gradle-actions@v5.0-openjdk-14
      with:
        args: remapJar